* {
  margin: 0;
  padding: 0;
}
.colorBar {
  background-color: #e3f2fd;
  height: 80px;
}

.navbarLogo {
  display: inline-block;
  width: 12em;
  margin: -3em -0.1em;
}

.navbarLogo img {
  display: block;
  width: 100%;
  height: auto;
}
